{% extends 'template.html.twig' %}



{% block container %}
    <div class="container">
        <div class="row">
            <div class="col l10 ">
                

                    {% if app.user != null %}

                        <h4> Welcome , {{ app.user.name }} </h4>

                        
                        <a href="{{ url('joblist') }}" class="btn-large waves-effect waves-light orange">job list</a>
                         
                    {% endif %}

          

                {% if app.user == null %}
                    <a href="{{ url('login')}}" class="btn btn-info"> Login </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
