{% extends 'template.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col s6">
            <div id="form">
                <form name="add_job_form" id="add_job_form">
                    
                    
                    {% if is_admin() %}
                        <span id="user_list_drop"></span>
                    {% else %}
                        <input name="user_id" type="hidden" value="{{ app.user.id }}" />
                    {% endif %}   
                    <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <input type="text" class="form-control" id="description" placeholder="description" name="description">
                    </div>

                    <button type="button" name="add_job" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>    

        <div class="col s6">
            <div id="list"></div>
        </div>          
    </div>
{% endblock container %}

{% block javascripts %}
    {{ parent() }}
    <script> app.getJobs(); app.createJobs();</script>
{% endblock javascripts %}